.item {
    border: solid;
    text-align: center;
    background-color: rgb(129, 127, 127);

    margin: 1%;
    width: 30%;
    display: inline-block;

}

.productoImg {
    border-radius: 50%;
    width: 60%;
    height: auto;
}